<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns:context="http://www.springframework.org/schema/context"
 xmlns:p="http://www.springframework.org/schema/p"
 xsi:schemaLocation="http://www.springframework.org/schema/beans
 https://www.springframework.org/schema/beans/spring-beans.xsd
 http://www.springframework.org/schema/context
 http://www.springframework.org/schema/context/spring-context.xsd">
 
<!--  this is our beans -->
 	<bean class="com.spring.core.Student" name="student1">
 		<property name="studentId">
 		<value>10008</value>
 		</property>
 		
 		<property name="studentName">
 		<value>Gaurav Gothi</value>
 		</property>
 		
 		<property name="studentAddress">
 		<value>581 Panchwati Indore</value>
 		</property>
 		
  	</bean>
 	
<!--  	Value As Attribute -->
 	<bean class="com.spring.core.Student" name="student2">
 		<property name="studentId" value="10009"/>
 		<property name="studentName" value="gaurav patidar"/>
 		<property name="studentAddress" value="Talawali Chanda Indore" />
 	</bean>
 	
<!--  	P schema use p:property:value  -->
<bean class="com.spring.core.Student" name="student3" p:studentId="10010" p:studentName="Shyam Patidar" p:studentAddress="Shyamgarh Mandsaur" />

 </beans>
 